<table style="
            xborder-collapse: collapse;
            border: 2px solid black;">
<tr>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style=" writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg); ">KINGDOM</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style=" writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg); ">PHYLUM</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style=" writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg); ">CLASS</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style="  ">ORDER</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style="  ">FAMILY</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style="  ">GENUS</div></th>
<th style="border-collapse: collapse; border: 1px solid black; background-color: #eff;"><div style="  ">SPECIES</div></th>
</tr>
<tr>
<td rowspan="31" style="border: 2px solid black; background-color: #ffd;writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg);">Plantae</td>
<td rowspan="31" style="border: 2px solid black; background-color: #ffd;writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg);">Tracheophyta</td>
<td rowspan="27" style="border: 2px solid black; background-color: #ffd;writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg);">Magnoliopsida</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Buxales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Buxaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Buxus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Buxus sempervirens</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Dipsacales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Caprifoliaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Lonicera</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Lonicera maackii</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ericales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ericaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Arbutus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Arbutus menziesii</td>
</tr>
<tr>
<td rowspan="7" style="border: 2px solid black; background-color: #ffd;">Fagales</td>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Betulaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Betula</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Betula pendula</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ostrya</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ostrya virginiana</td>
</tr>
<tr>
<td rowspan="4" style="border: 2px solid black; background-color: #ffd;">Fagaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Fagus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Fagus grandifolia</td>
</tr>
<tr>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Quercus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Quercus kelloggii</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Quercus robur</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Quercus rubra</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Juglandaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Juglans</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Juglans nigra</td>
</tr>
<tr>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Lamiales</td>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Oleaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Fraxinus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Fraxinus pennsylvanica</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Syringa</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Syringa vulgaris</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Laurales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Lauraceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Umbellularia</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Umbellularia californica</td>
</tr>
<tr>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Malpighiales</td>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Salicaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Populus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Populus tremuloides</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Salix</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Salix nigra</td>
</tr>
<tr>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Malvales</td>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Malvaceae</td>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Tilia</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Tilia cordata</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Tilia europaea</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Tilia platyphyllos</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Proteales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Platanaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Platanus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Platanus occidentalis</td>
</tr>
<tr>
<td rowspan="4" style="border: 2px solid black; background-color: #ffd;">Rosales</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Cannabaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Celtis</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Celtis occidentalis</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Moraceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Morus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Morus alba</td>
</tr>
<tr>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Rosaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Malus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Malus domestica</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Prunus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Prunus serotina</td>
</tr>
<tr>
<td rowspan="4" style="border: 2px solid black; background-color: #ffd;">Sapindales</td>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Sapindaceae</td>
<td rowspan="3" style="border: 2px solid black; background-color: #ffd;">Acer</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Acer negundo</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Acer saccharinum</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Acer saccharum</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Simaroubaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ailanthus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Ailanthus altissima</td>
</tr>
<tr>
<td rowspan="4" style="border: 2px solid black; background-color: #ffd;writing-mode: vertical-lr; text-orientation: mixed; transform: rotate(180deg);">Pinopsida</td>
<td rowspan="4" style="border: 2px solid black; background-color: #ffd;">Pinales</td>
<td rowspan="2" style="border: 2px solid black; background-color: #ffd;">Cupressaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Juniperus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Juniperus virginiana</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Sequoia</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Sequoia sempervirens</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Pinaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Pinus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Pinus strobus</td>
</tr>
<tr>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Taxaceae</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Taxus</td>
<td rowspan="1" style="border: 2px solid black; background-color: #ffd;">Taxus baccata</td>
</tr>
</table>
