{% include "page_header" %}
<h1>{{ page.title }}</h1>

<div class="photo-gallery">
    <figure>
        <img src="photos/egg_american_sycamore_1a.jpg" alt="American Sycamore egg - view A"/>
        <figcaption>American Sycamore - View A</figcaption>
    </figure>
    <figure>
        <img src="photos/egg_american_sycamore_1b.jpg" alt="American Sycamore egg - view B"/>
        <figcaption>American Sycamore - View B</figcaption>
    </figure>
    <figure>
        <img src="photos/egg_quaking_aspen_1a.jpg" alt="Quaking Aspen egg - view A"/>
        <figcaption>Quaking Aspen - View A</figcaption>
    </figure>
    <figure>
        <img src="photos/egg_quaking_aspen_1b.jpg" alt="Quaking Aspen egg - view B"/>
        <figcaption>Quaking Aspen - View B</figcaption>
    </figure>
</div>
{%include "page_footer" %}
